.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: white;
    background: rgba(0, 0, 0, 0.892); /* Semi-transparent background */
    backdrop-filter: blur(10px); /* Blur effect */
    -webkit-backdrop-filter: blur(10px); /* For Safari */
    border-bottom: 1px solid rgba(0, 0, 0, 0.708); /* Optional border */
    height: 60px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Optional shadow for depth */
    /* border-radius: 0 0 12px 0; */
  }

  /* src/components/Header.css */
.link {
  margin-left: 20px;
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.link:hover {
  text-decoration: underline;
}

  
  .logo {
    font-size: 1.3rem;
    margin-left: 40px;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right, #d5fffe, #f4c6fb);
  }
  
  .logo2 {
    font-size: 1.1rem;
    margin-left: 40px;
    color: white;
  }
  
  a:link { 
    text-decoration: none; 
  } 
  a:visited { 
    text-decoration: none; 
  } 
  a:hover { 
    text-decoration: none; 
  } 
  a:active { 
    text-decoration: none; 
  }

  .profile-menu {
    position: relative;
  }
  
  .profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .dropdown {
    position: absolute;
    top: 60px;
    right: 0;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  }
  
  .dropdown ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .dropdown li {
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .dropdown li:hover {
    background-color: #f0f0f0;
  }
  
  /* src/components/Header.css */
.link {
  margin-left: 20px;
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.link:hover {
  text-decoration: underline;
}
