/* src/App.css */

:root {
  --primary-color: #6a0dad; /* Deep Purple */
  --light-grey: rgba(245, 245, 245, 0.555); /* Light grey with transparency */
  --dark-grey: #333;
  --text-color: #fff;
}

body, html {
  margin: 0;
  font-family: ui-rounded, 'Hiragino Maru Gothic ProN', Quicksand, Comfortaa, Manjari, 'Arial Rounded MT', 'Arial Rounded MT Bold', Calibri, source-sans-pro, sans-serif;
  background: linear-gradient(135deg, #d5fffe, #f4c6fb); /* Purple to white gradient */
  height: 100%;
  display: flex;
  width: 100%;
  overflow-y: auto; /* Avoid extra scroll bars */
  /* align-items: center; */
  /* justify-content: center; */
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.main {
  display: flex;
  flex: 1;
  position: relative;
}

.content-wrapper {
  display: flex;
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  backdrop-filter: blur(10px); /* Frosted glass effect */
}

.content {
  flex: 2;
  padding-right: 20px;
  background: var(--light-grey);
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px); /* Frosted glass effect */
}

.chatbot {
  flex: 1;
  background-color: rgba(255, 255, 255, 0.827);
  color: black;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px); /* Frosted glass effect */
}
